[Unit]
Description=The meilisearch container for airport and city search.

[Container]
Image=localhost/notammap/meilisearch
ContainerName=notammap-meilisearch