[Unit]
Description=The tile map proxy for open aip and satellite tiles.

[Container]
Image=localhost/notammap/tmsproxy
ContainerName=notammap-tmsproxy